<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <p>Você está recebendo este e-mail porque você (ou alguém) solicitou a redefinição da senha da sua conta.</p>
    <p>Por favor, clique no link a seguir ou cole-o no seu navegador para completar o processo dentro de uma hora de recebimento:</p>
    <a href="<%= url %>">Redefinir Senha</a>
    <p>Se você não solicitou isso, por favor ignore este e-mail e sua senha permanecerá inalterada.</p>
</body>
</html>
