<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha Bem-sucedida</title>
</head>
<body>
    <h1>Redefinição de Senha Bem-sucedida</h1>
    <p>Sua senha foi redefinida com sucesso. Agora você pode usar sua nova senha para fazer login.</p>
    <a href="/users/login">Faça login aqui</a>
</body>
</html>
