<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <h1>Redefinir Senha</h1>
    <form action="/users/reset/<%= token %>" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="password">Nova Senha:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Redefinir</button>
    </form>
</body>
</html>
